In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [31]:
df=pd.read_csv('C:/Users/mdasi/Desktop/Travel_Ease/Travel-Trails/Backend/tourism_total_cost_dataset1.csv')

In [32]:
df.head()

,State Name,Hotel Price,Self Allowance,Travel Price,Food Cost,Total Cost
0,Goa,9660.591412,4432.646776,10730.815620,11258.335008,36082.388816
1,West Bengal,5260.532734,2144.168672,7111.716323,4619.590053,19136.007783
2,Kerala,6983.254119,2342.513456,11887.067021,6707.667139,27920.501734
3,West Bengal,6689.997525,2024.216950,4950.538249,7407.845784,21072.598508
4,West Bengal,5828.954537,3913.002797,7962.975581,5778.145681,23483.078596

In [33]:
dummies=pd.get_dummies(df['State Name'])

In [34]:
dummies

       Goa  Kerala  Rajasthan  Sikkim  West Bengal
0     True   False      False   False        False
1    False   False      False   False         True
2    False    True      False   False        False
3    False   False      False   False         True
4    False   False      False   False         True
..     ...     ...        ...     ...          ...
995  False   False       True   False        False
996  False   False      False    True        False
997  False   False      False    True        False
998   True   False      False   False        False
999  False    True      False   False        False

[1000 rows x 5 columns]

In [35]:
merged=pd.concat([df,dummies],axis=1)

In [36]:
merged

,State Name,Hotel Price,Self Allowance,Travel Price,Food Cost,Total Cost,Goa,Kerala,Rajasthan,Sikkim,West Bengal
0,Goa,9660.591412,4432.646776,10730.815620,11258.335008,36082.388816,True,False,False,False,False
1,West Bengal,5260.532734,2144.168672,7111.716323,4619.590053,19136.007783,False,False,False,False,True
2,Kerala,6983.254119,2342.513456,11887.067021,6707.667139,27920.501734,False,True,False,False,False
3,West Bengal,6689.997525,2024.216950,4950.538249,7407.845784,21072.598508,False,False,False,False,True
4,West Bengal,5828.954537,3913.002797,7962.975581,5778.145681,23483.078596,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
995,Rajasthan,7687.168844,4462.287464,7537.873441,12673.820156,32361.149904,False,False,True,False,False
996,Sikkim,5561.109604,3139.079559,7974.236898,5421.588614,22096.014675,False,False,False,True,False
997,Sikkim,6401.138896,2519.083566,8694.333386,7083.551943,24698.107791,False,False,False,True,False
998,Goa,5208.364503,3873.991771,10324.434460,9384.529609,28791.320344,True,False,False,False,False
999,Kerala,3923.960080,3387.121871,9952.305832,7742.809003,25006.196786,False,True,False,False,False

In [37]:
df = merged.drop(['State Name'], axis=1)

In [38]:
df.head()

,Hotel Price,Self Allowance,Travel Price,Food Cost,Total Cost,Goa,Kerala,Rajasthan,Sikkim,West Bengal
0,9660.591412,4432.646776,10730.815620,11258.335008,36082.388816,True,False,False,False,False
1,5260.532734,2144.168672,7111.716323,4619.590053,19136.007783,False,False,False,False,True
2,6983.254119,2342.513456,11887.067021,6707.667139,27920.501734,False,True,False,False,False
3,6689.997525,2024.216950,4950.538249,7407.845784,21072.598508,False,False,False,False,True
4,5828.954537,3913.002797,7962.975581,5778.145681,23483.078596,False,False,False,False,True

In [39]:

features = ['Hotel Price', 'Self Allowance', 'Travel Price', 'Food Cost', 'Goa', 'Kerala', 'Rajasthan', 'Sikkim','West Bengal']

x = df[features]

y = df['Total Cost']

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
model=LinearRegression()

In [43]:
model.fit(x_train,y_train)

LinearRegression()

In [44]:
y_pred=model.predict(x_test)

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2=r2_score(y_test,y_pred)

In [47]:
r2

1.0

In [48]:
x_test

,Hotel Price,Self Allowance,Travel Price,Food Cost,Goa,Kerala,Rajasthan,Sikkim,West Bengal
307,9638.761416,4391.798236,14340.209727,8397.177487,True,False,False,False,False
973,4577.905114,3359.240665,4582.915373,6073.477515,False,False,False,False,True
783,6233.487064,3495.634892,8955.414425,10019.218039,False,True,False,False,False
204,5925.664644,3523.411367,16727.029942,11575.967026,True,False,False,False,False
816,5664.788933,2493.647738,6872.741217,8403.215579,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
119,6180.632646,3944.141876,12304.377534,8766.087082,False,False,True,False,False
240,5199.374819,2428.191570,8592.113566,12340.959528,False,True,False,False,False
223,5169.729893,4327.579372,17837.598425,8839.950032,True,False,False,False,False
33,5261.089704,2585.644073,5145.848818,6548.670875,False,False,False,True,False
855,6515.641780,3737.414342,13978.657030,12739.719925,True,False,False,False,False

In [49]:
y_test

307    36767.946867
973    18593.538668
783    28703.754419
204    37752.072980
816    23434.393467
           ...
119    31195.239139
240    28560.639482
223    36174.857722
33     19541.253471
855    36971.433077
Name: Total Cost, Length: 200, dtype: float64

In [50]:
import joblib

In [51]:

joblib.dump(model,'model.joblib')
mj = joblib.load('model.joblib')